{% extends "feed/layout.html" %} {% load static %} 
{% load widget_tweaks %}  
{% block navbar %}{% endblock %}
{% block content %}

<div class=" flex flex-col mt-8  mx-auto  justify-center items-center flex-col justify-items-center">
  <a class="flex justify-center mb-9 text-2xl text-gray-800 font-semibold leading-7 uppercase " href="{% url 'home' %}">
    <img class="w-20 mr-5 ml-4 mt-5 " width="30px" height="40px" src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1651106793/WhatsApp_Image_2022-04-20_at_11.07.38_PM__1_-removebg-preview_cilzl9.png" alt="" />
    <h4 class="my-auto ">247ericpointcom</h4>
  </a>
  <div  class=" 

  w-[600px]
  
  p-12 bg-white  rounded-md shadow-lg">
    <div class="flex justify-center flex-col justify-items-center items-center">
    <h1 class="text-2xl font-semibold leading-relaxed ">Login to your a account</h1>
    <span class="text-slate-400">its quick and easy</span>
    </div>
  </br>
    <form class="mt-6"  method="POST">
      {% csrf_token %}
     
      {% if form.errors %}
      <ul> 
  
       {% for error in form.non_field_errors %} 
       <li style="color:red"class="text-red">{{ error|escape }}</li>
       {% endfor %}
   
      </ul>
{% endif %} 


      <div class="mb-8">
        <label for="UserName" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">UserName</label>
        {% render_field form.username type="text" class="block align-baseline rounded-full w-full p-4 mt-2 text-gray-700  appearance-none focus:outline-none  focus:shadow-inner" id="exampleInputUsername" placeholder="Username" %}
        </div>

      <div class="mb-8">
        <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
        {% render_field form.password type="password" class="block align-bottom rounded-full w-full p-4 mt-2 text-gray-700  appearance-none focus:outline-none  focus:shadow-inner" id="exampleInputPassword" placeholder="Password" %}
     
      </div>
      
      <button  type="submit" class="w-full bg-[#7DC9F0] rounded-full py-4  mb-4 font-medium tracking-widest text-white uppercase  shadow-lg border-2 hover:border-[#7DC9F0] hover:bg-white hover:text-[#7DC9F0] hover:shadow-none">
        Sign In
      </button>
      <div class="flex justify-center flex-col ">
      <p class="flex justify-center inline-block mt-4 text-xs text-gray-500 cursor-pointer  text-lg">Dont have an account?  <a href="{% url 'register' %}" class="text-[#7DC9F0] font-bold text-lg"> Sign Up</a></p>
      <p class="flex  justify-center inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black text-lg"> <a href="{% url 'password_reset' %}" class="text-[#7DC9F0] font-light text-lg"> Forget password</a></p>
      </div>
    </form>
  </div>
</div>


{% endblock content %}
