{% extends "feed/layout.html" %}  {% load static %}
{% load widget_tweaks %}  
{% block navbar %}{% endblock %}
{% block content %}

<div class="grid   min-h-screen place-items-center justify-center mx-auto ">
  <a class="flex mt-9 text-2xl text-gray-800 font-semibold leading-7 uppercase " href="{% url 'home' %}">

  </a>
  <div class="-mt-20 p-12 bg-white w-[600px] rounded-md shadow-lg">
    <div class="flex justify-center flex-col justify-items-center items-center">
    <h1 class="text-3xl font-semibold leading-relaxed  ">Set a new password</h1>
    <span class="text-slate-400">Your new password must be different to previously used passwords.</span>
    </div>
  </br>
    <form class="mt-6"  method="POST">
      {% csrf_token %}
     
     {% if form.errors %}
       <ul> 
    {% for field in form %}
        {% for error in field.errors %} 
        <li style="color:red"class="text-red">{{ error|escape }}</li>
        {% endfor %}
    {% endfor %}
       </ul>
{% endif %} 


  

      <div class="mb-8">
      <label for="email" class="block mt-2 ml-4 text-xs font-semibold text-gray-600 uppercase">Password</label>
      {% render_field form.new_password1 type="password" class="block align-bottom rounded-full w-full p-4 mt-2 text-gray-700  appearance-none focus:outline-none  focus:shadow-inner" id="exampleInputPassword" placeholder="Password" %}
     
      </div>
      <div class="mb-8">
        <label for="email" class="block mt-2 ml-4 text-xs font-semibold text-gray-600 uppercase">Confirm password</label>
        {% render_field form.new_password2 type="password" class="block align-bottom rounded-full w-full p-4 mt-2 text-gray-700  appearance-none focus:outline-none  focus:shadow-inner" id="exampleInputPassword" placeholder="Password" %}
       
        </div>
      <button  type="submit" class="w-full bg-[#7DC9F0] rounded-full py-4  mb-4 font-medium tracking-widest text-center  text-white uppercase  border-2 hover:border-[#7DC9F0] hover:bg-white hover:text-[#7DC9F0] hover:shadow-none">
        Reset password
      </button>
      <div class="flex justify-center">
      <p class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer  text-lg"> <a href="{% url 'login' %} " class="text-gray-500  text-lg text-center">Back</a></p>
      </div>
    </form>
  </div>
</div>


{% endblock content %}

